[submodule "embree"]
	path = embree
	url = https://github.com/embree/embree.git
	branch = master
[submodule "ospray"]
	path = ospray
	url = https://github.com/ospray/ospray
	branch = master
[submodule "vtk"]
	path = vtk
	url = git://vtk.org/VTK.git
	branch = master
